<li class="subject-item">
    <div class="pic">
        <a class="nbg" href="https://book.douban.com/subject/26585403/"
           onclick="moreurl(this,{i:'2',query:'%25E5%258F%2596%25E6%2582%25A6',subject_id:'26585403',from:'book_subject_search'})">
            <img class="" src="https://img3.doubanio.com/mpic/s28272264.jpg"
                 width="90">
        </a>
    </div>
    <div class="info">
        <h2 class="">
            <a href="https://book.douban.com/subject/26585403/" title="取悦症"
               onclick="moreurl(this,{i:'2',query:'%25E5%258F%2596%25E6%2582%25A6',subject_id:'26585403',from:'book_subject_search'})">
                取悦症<span style="font-size:12px;"> : 不懂拒绝的老好人 </span>
            </a>
        </h2>
        <div class="pub">
            [美]哈丽雅特•布莱克 / 姜文波 / 机械工业出版社 / 2015-7
        </div>
        <div class="star clearfix">
            <span class="allstar40"></span>
            <span class="rating_nums">7.7</span>
            <span class="pl">
        (88人评价)    </span>
        </div>
        <div class="ft">
            <div class="collect-info">
            </div>
            <div class="cart-actions">
              <span class="market-info">
                <a href="https://book.douban.com/subject/26585403/?channel=subject_list&amp;platform=web"
                   target="_blank">在豆瓣购买</a>
              </span>
            </div>
        </div>
    </div>
</li>

