<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="renderer" content="webkit">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1, minimal-ui">
    <title>{% block title %}{% endblock %} - 系统</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"
          type="text/css"/>
    {% block css %}{% endblock %}
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.tmpl.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

</head>
<body>

<div class="navbar navbar-fixed-top" id="navbar">
    <div class="navbar-inner">
        {#        <div class="container">#}
        {#            <a class="brand" href="/"></a>#}
        {#            <ul class="nav">#}
        {#                <li class="nav-item "><a href="/gutenberg/">盖世汽车</a></li>#}
        {#            </ul>#}
        {#            {% if current_user.is_authenticated %}#}
        {#                <ul class="nav pull-right">#}
        {#                    <li class="nav-item"><a href="/accounts/settings/pro/"><i class="fa fa-rocket"></i><span#}
        {#                            class="visible-large">升级</span></a></li>#}
        {##}
        {#                    <li class="nav-item "><a href="/upload/"><i class="fa fa-upload" aria-hidden="true"></i><span#}
        {#                            class="visible-large">上传</span></a></li>#}
        {##}
        {#                    <li class="nav-item ">#}
        {#                        <a href="/notifications/">#}
        {#                            <i class="fa fa-bell" aria-hidden="true"></i>#}
        {#                            <span class="visible-large">通知</span>#}
        {##}
        {#                        </a>#}
        {#                    </li>#}
        {#                    <li class="dropdown">#}
        {#                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-original-title="">#}
        {#                            <span class="ribbon-wrapper">#}
        {#                                <span class="ribbon-wrapper-green"><div class="ribbon-green hidden">Pro</div></span>#}
        {#                                <img class="img img-circle avatar-small" title="simonli" src="/static/img/babel.png"/>#}
        {#                            </span>#}
        {#                            <b class="caret"></b>#}
        {#                        </a>#}
        {#                        <ul id='account-dropdown' class="dropdown-menu">#}
        {#                            <li><a href="/accounts/profile/simonli/wish/"><i class="icon-user" aria-hidden="true"></i>个人中心</a>#}
        {#                            </li>#}
        {#                            <li><a href="/accounts/settings/push/"><i class="icon-cog"></i> 设置</a></li>#}
        {#                            <li><a href="/faq/"><i class="icon-question-sign"></i> 常见问题</a></li>#}
        {#                            <li><a href="#wechat-qrcode" role="button" data-toggle="modal"><i class="icon-qrcode"></i>微信公众号</a>#}
        {#                            </li>#}
        {#                            <li><a href="http://forum.readfree.me/" target="_blank"><i#}
        {#                                    class="fa fa-comments-o"></i>论坛</a></li>#}
        {#                            <li><a href="{{ url_for('account.logout') }}"><i class="icon-off"></i> 退出</a></li>#}
        {#                        </ul>#}
        {#                    </li>#}
        {##}
        {#                </ul>#}
        {#            {% else %}#}
        {#                <ul class="nav pull-right">#}
        {#                    <li class="nav-item"><a href="/accounts/login/"><i class="fa fa-user"></i> 登录 </a></li>#}
        {#                    <li class="nav-item"><a href="/accounts/signup/"><i class="fa fa-user-plus" aria-hidden="true"></i>#}
        {#                        注册 </a></li>#}
        {##}
        {#                </ul>#}
        {#            {% endif %}#}
        {#        </div>#}
    </div>
</div>

<div class="container" id="container">
    {% block flash %}
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ category }} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">&times;
                </button>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endblock %}
    {% block content %}{% endblock %}

    <footer>
        <p>&copy; 2017 - footer </p>
    </footer>
</div>


</body>
{% block js %}{% endblock %}
</html>